{% extends "base.html" %}

{% block head %}
  <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
  <meta http-equiv="refresh" content="2000000"> 
{% endblock %}

{% block body %}

<script src="{{ url_for('static', filename='js/dateTime.js') }}"></script>
<script src="{{ url_for('static', filename='js/NJT.js') }}"></script>
<script src="{{ url_for('static', filename='js/factoid.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/pi.js') }}"></script><script src="{{ url_for('static', filename='js/weatherChart.js') }}"></script>-->

    <div class="reveal">
        <div class="slides">
          <section data-background-image="{{url}}" data-auto-animate>
            <div class="weather">
              <h2>{{title}}</h2>
              <h4><div id="datetime"></div></h4>
            </div>
          </section>
          <section data-background-image="{{url}}" data-auto-animate>
            
                
            <a class="weatherwidget-io" href="https://forecast7.com/en/40d90n74d06/maywood/?unit=us" data-label_1="Maywood" data-label_2="Weather" data-font="Times New Roman" data-icons="Climacons Animated" data-theme="original" >Maywood Weather</a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
            <!--<div id="heatmapRain"></div>-->
            
          </section>
          <section data-background-image="{{url}}" id="njtAdv" data-auto-animate>
            <div>NJ Transit Advisories</div>
            <div class="weather row row-cols-2 row-cols-4" id="NJT"></div>
          </section>
          <section data-background-image="{{url}}" data-auto-animate>
            <div class="weather" id="factoid"></div>
          </section>
          <section data-background-image="{{url}}" data-auto-animate>
            <div class="weather" id="pi">{{alt}}</div>
          </section>
          <section data-background-image="{{hdurl}}" data-auto-animate>

          </section>
          <section data-background-image="{{hdurl}}" data-auto-animate>
            <div class="weather">
              <h3>{{nasaTitle}}</h3>
              <p class="small">{{nasaDescription}}</p>
            </div>
          </section>
          <section>
            <img class="r-stretch" src=".{{ url_for('static', filename=randomImage) }}" alt=""> 
            <h6 class="weather">{{date}}</h6>
          </section>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/reveal.js') }}"></script>
    <script>
        Reveal.initialize({
          autoSlide: 5000,
          loop: true,
        });
    </script>

{% endblock %}