{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/weatherChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dateTime.js') }}"></script>
    <script src="{{ url_for('static', filename='js/NJT.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="background" style="background-image: url('{{backgroundImage}}'); background-size: auto 100%;">


        
            <div class="row weather">
                <div class="col">{{title}}</div>
                <div id="datetime"></div>
            </div>

            <div class="row">
                <div class="col-8 weather">
                    <div class="row">
                        <div class="row">
                            <div class="col" id="temperature"></div>
                            <div class="col" id="weather_code"></div>
                        </div>
                        <div class="row">
                            <div class="col" id="aqi"></div>
                        </div>
                        
                        
                    </div>
                    
                    <div id="weatherChart" class="weatherChartDiv"></div>
                    
                </div>
                <div class="col-3 weather" id="NJT"></div>
            </div>

        

        










    </div>

    

{% endblock %}